header.box-shadow-custom{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form-control{
  width: 600px;
}

@media (max-width: 720px) {
  .form-control{
    width: 225px;
  }
 .font-30{
    font-size: 18px;
 }
 .btn .badge {
  position: relative;
  top: -1px;
  font-size: 8px;
}
}
